%%% -*- mode: erlang -*-

{require_otp_vsn, "R14|R15|R16"}.

{erl_first_files, ["src/ubf_redis_types_plugin.erl"
                   , "src/ubf_redis_plugin.erl"
                  ]}.
{erl_opts, [warnings_as_errors]}.

{xref_checks, [undefined_function_calls, deprecated_function_calls]}.

{eunit_first_files, ["test/qc/ubf_redis_proxy_plugin.erl"]}.

{deps, [{qc, "", {git, "git://github.com/norton/qc.git"}}
        , {pmod_transform, "", {git, "git://github.com/ubf/pmod_transform.git"}}
        , {ubf, "", {git, "git://github.com/ubf/ubf.git"}}
       ]}.
